body {
    font-family: cursive;
    font-weight: 400;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 150px;
    background: linear-gradient(to bottom, #FFFACD, #FF6347);    
    background-attachment: fixed;
    height: 100%;
}

nav {
    background: linear-gradient(to right, #FF5733, #FFC300);
    max-width: 900px;
    width: 80%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 2px 5px #FF5733;
    background-color: #FFC300 ;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    transition: 0.8s all;
    padding: 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: #000000;  
    padding: 7px;
    border-radius: 5px;
    font-weight: bold; 
    font-size: 1.1em;
    
}

nav ul li a:hover {
    color: #750a0a;
    background-color: aliceblue;
    transition: 0.6s all;
}

.social-menu {
    position: fixed;
    right: 0px;
    top: 50%;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    background-color: #007bff;
    color: white;
    width: 30%;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.menu-icon:hover {
    background-color: #0056b3;
}

#toggle-menu {
    display: none;
}

.menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#toggle-menu:checked + .menu-icon + .menu-content {
    display: flex;
}

.menu-content a {
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}



.menu-content a:hover {
    background-color: #f0f0f0;
}

.icon.facebook {
    background-color: #3b5998;
    color: white;
}

.icon.whatsapp {
    background-color: #25d366;
    color: white;
}

.icon.instagram {
    background-color: #e4405f;
    color: white;
}

.icon.twitter {
    background-color: #1da1f2;
    color: white;
}
.image-logo {
    width: 180px;
    height: 150px;
    padding-left: 30px;
}

.banner {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.banner-container {
    text-align: center;
    margin-top: 18px;
}

.video-container {
    display: flex;
    gap: 20px; 
    margin: 0 auto; 
    max-width: 1000px;
    
}

.ft-articulo {
    max-width: 50%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: solid 2px black;
}

.ft-articulo h1 {
    text-align: center;
    font-size: 23px;
}

.ft-articulo p {
    font-weight: bold;
}

.boton-container {
    margin-top: 20px;
}

.boton-container a {
    text-decoration: none;
    color: #FFFACD;
    font-weight: bold;
}

.boton {
    background-color: #FF5733; 
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center; 
}

.boton:hover {
    background-color: #FFC300;
    color: green;
    transition: 0.6s all;
}

.titulo-receta{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center ;
    border-radius: 5px;
    border: #000000 solid 2px;

}
.container-recetas {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    

}

.img-recetas {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0; 
    height: 100%;
    border: #000000 solid 2px;
}
.img-recetas h2,
.img-recetas2 h2 {
    margin: 0px 0px;
    position: relative;
    left: 27%;
    bottom: 10px;
    font-size: 1.1em; /* Ajusta el tamaño del título según tu preferencia */
    color: #333; /* Color del texto, puedes cambiarlo según el diseño */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-recetas2 {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0; 
    height: 100%;
    border: #000000 solid 2px;
}
.img-recetas2 p {
    margin: 0;
    padding: 40px 0;
    padding-left: 70px;
}
.img-recetas2 img{
    border: #000000 solid 2px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.img-recetas2 img:hover{
    transform: scale(1.1);
    border: #25d366 solid 2px;
}

.img-recetas img {
        height: auto;
        border-radius: 5px;
        border: solid 3px;
        transition: transform 0.5s ease;
        cursor: pointer;
    }
    .img-recetas img:hover{
        transform: scale(1.1);
        border: #25d366 solid 2px;
    }



.img-recetas p {
    margin: 0;
    padding: 40px 0;
    padding-left: 70px;
}

.boton-receta {
    position: absolute;
    bottom: 5px; 
    right: 16%;
    color: #FFFACD; 
    padding: 10px 90px;

    
    
}
.boton-receta a{
    text-decoration: none;
    background-color: #FF5733; 
    padding: 7px 147px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #FFFACD;
    margin-right: -139px;
}
.boton-receta a:hover{
    background-color: #FFC300;
    color: green;
    transition: 0.6s all;
}

.productos {
    background: linear-gradient(to right, #FFFACD, #FF6347);
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-productos {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;    
    
}

.container-productos h1 {
    color: #000000;
    font-size: 2.5em;
    margin-bottom: 40px;
    font-weight: bold;
}

.productos-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.producto-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    max-width: 300px;
    text-align: center;
    border: #000000 solid 2px;
}

.producto-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    border: #000000 solid 2px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.producto-item img:hover{
    transform: scale(1.1);
    border: #25d366 solid 2px;
}

.producto-item h2 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.producto-item p {
    color: #333;
    font-size: 1em;
    line-height: 1.5em;
}
.nuestros-chefs {
    background: linear-gradient(to right, #FFFACD, #FF6347);    
    padding: 50px 0;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
}

.container-chefs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.chefs-papa {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.chef-card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    border: #000000 solid 2px;
}

.chef-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: #000000 solid 2px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.chef-card img:hover{
    transform: scale(1.1);
    border: #25d366 solid 2px;


}


.chef-card h2 {
    margin: 15px 0;
    font-size: 1.5em;
}

.chef-card p {
    font-size: 1em;
    color: #555;
}

.chef-card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.chef-card a:hover {
    text-decoration: underline;
}


.pie-de-pagina {
    background-color: #161616;
    border-radius: 5px;
    height: 180px;
    color: #FFFACD;
    font-weight: bold;
}

.redes {
    padding-left: 20px;
    padding-right: 19px;
    padding-top: 66px;
    display: inline-flex;
    
    
}

.redes a {
    text-decoration: none;
    margin-right: 20px;
    color: #FFFACD; 
    font-weight: bold;
}
.Twitter:hover{
    color: rgb(68, 68, 238);  
}
.Facebook:hover{
    color: blue;
}
.Instagram:hover{
    color: rgb(243, 5, 152)
}



.derechos {
    display: inline-flex;
    
}

.comunicacion {
  float: right;
  padding: 35px;
  padding-top: 55px;
  
}
@media (max-width: 768px) {
    nav{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    nav ul{
        display: flex;

    }
    .banner{
        width: 600px;
    }
    .titulo-receta{
        width: 95%;
    }
   
.img-recetas h2,
.img-recetas2 h2 {
    margin: 0px 0px;
    position: relative;
    left: -200px;
    top: 250px;
    
    font-size: 20px  ; 
    color: #333; 

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .img-recetas p{
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        bottom: 20px;
    }
    .img-recetas2 p{
        position: relative;
        bottom: 40px;
    }
    .boton-receta{
      left: 200px;  
    }
    .boton-receta a{
        background-color: #000000;
        position: relative;
        left: 40px;
        background-color: #FF5733; 

    }
    .img-recetas img{
        height: 200px;
        margin-left: -10px;
        
    }
    .pie-de-pagina{
        background-color: rgb(34, 33, 33);
        color: #FFFACD;
        font-weight: bolder;
        height: 380px;
        display: flex;
        
        text-align: center;
        justify-content: center;
        padding-left: 10px;
    }
    .redes{
        margin-left: 30px;
        color: #FFFACD;
        padding: 40px 0;
        display: flex;
        flex-direction: column;

    }
    .derechos{
        display: flex;
    }
    .redes a{
         margin: 8px 0;
    }
    .chef-card {
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        
        
    }
    



    
}
@media (max-width: 550px){
    
    nav ul{
        display: flex;
        margin-left: 20px;
        text-align: center;
        margin-bottom: 3px;
        flex-direction: column;
    }
    .banner{
        width: 90%;
        height: 300px;
    }
    .video-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .video-container iframe{
        width:100%;
    }
    .ft-articulo{
        margin-left: 100px;
        width: 100%;
    }
    .container-recetas {
        
        display: flex;
        flex-direction: column;
    }
    .img-recetas{
        padding: 50px 0;
    }
    .img-recetas img{
        position: relative;
        bottom: 40px;
        width:70%;
        left: 18%;
    }
    .img-recetas h2,
.img-recetas2 h2 {
   display: none;
}

    .img-recetas p{
    
    display: none;
    position: relative;
    
    
    }
    .productos-grid{
        flex-wrap : wrap;
    }
    
    .boton-receta{
        margin-left: -280px;
        padding: 30px;


        
    }
    .boton-receta a{
        padding: 10px 20px;
        margin: 0 30px;
        margin-left: 100px;
    }
    .img-recetas2{
        padding: 50px 0;
    }
    .img-recetas2 p{
        display: none;
    }
    .container-recetas2{
        display: flex;
        flex-direction: column;

    }
   .img-recetas2 img{
    position: relative;
    left: 80px;
    bottom: 40px;
   }
   .chef-card {
    width: 80%;
}

}




