body{   
    font-family: cursive;
    font-weight: 400;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 160px;

}
nav{
    height: 150px;
    background-color:rgb(235, 180, 75,0.883);
    position: fixed;
    top: 0;
    left: 50;
    width: 80%;
    max-width: 900px;
    
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
    padding: 20px 20px;
}
nav ul li :hover{
    background-color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
a:visited{
    color: #140b0b;
}
a:active{
    color: #e26f0e;
}
.img-logo{
   width: 100px;
   padding-top: 30px;
   padding-left: 80px;
}
nav ul{
    padding-top: 90px;
    float: right;
}
.banner-container {
    text-align: center;
    margin-top: 20px;
}
.banner{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.featured{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    padding: 0 20px;
}
.featured iframe{
    flex: 1;
    margin-right: 20px;
}   
.ft-articulo {
    flex: 1;
    background-color: #e26f0e;
    padding: 20px;
    text-align: center;
    margin-left: 20px;
    
    
}
.boton-container{
    text-align: center;
    background-color: goldenrod;
    margin: 0 auto;
}
.boton-container a{
    text-decoration: none;
    color: #fff;
}
.boton-container a:hover{
    color: red;
    font-weight: 700;
}
.boton{
    padding: 15px;
}
.boton-container:hover{
    background-color: aqua;
    
}
.art-image{
    max-width: 100%;
    margin: 0;
}
.art-cont{
    width: 740px;
    vertical-align: top;
}
h2{
    margin: 0;
    border-bottom: solid thick  rgba(0, 0, 0, 0.883);
    padding-bottom: 10px;
    
}
footer{
    background-color: rgb(235, 180, 75,0.883);
    color: rgb(31, 12, 134);
    clear: both;
    line-height: 30px;
    text-align: center;
    padding: 45px;
}